name: Auto-merge Exercism Bot PRs

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.actor == 'exercism-bot' || github.actor == 'exercism[bot]' || github.actor == 'exercism-solution-syncer' || github.actor == 'exercism-solution-syncer[bot]'
    
    steps:
      - name: Enable auto-merge
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
